.background {
    margin: 0; 
    padding: 0; 
    background: url('../../../public/bg-01.jpg') center/cover no-repeat fixed;
    height: 100vh; 
    overflow: hidden; 
}

a {
    text-decoration: none;
}
